<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <style>
    body{
        background-color: blue;
    }
    h1{
       color: #f50000;
    }
    .nom{
       color: #f0e8e8;
    }
   </style>
</head>
<body>
   <center>
      <h1>Calculadora</h1>
      <form method="POST">
         <div class="nom">
         Número 1: <input type="text" name="valor1" placeholder="digite um número"><br>
         Número 2: <input type="text" name="valor2" placeholder="digite um número"><br>
         Operações: <select name="operacao" placeholder="operador">
                   <option value="somar"> + </option>
                   <option value="subtrair"> - </option>
                   <option value="multiplicar"> * </option>
                   <option value="dividir"> / </option>
         </select><br><br>
      </div>
         <input type="submit" name="Calcular">
      </form>
      </center>
     
</body>
</html>